{% extends 'base.html' %}
{% block body %}
<h1>Deadlines for {{book}}</h1>
<table>
    <tr><th>Starts</th><th>Ends</th><th>Page</th><th>Location</th><th>Percent Complete</th><th>&nbsp;</th></tr>
    {% for deadline in deadlines %}
    <tr>
        <td>{{deadline.starts_on}}</td>
        <td>{{deadline.ends_on}}</td>
        <td>{{deadline.start_page}} - {{deadline.page}}</td>
        <td>{{deadline.start_location}} - {{deadline.location}}</td>
        <td>{{deadline.percent_complete|floatformat:0}}%</td>
        <td><a href="/admin/books/{{book.slug}}/deadlines/{{deadline.key}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
<h2>Create a New Deadline</h2>
<form action="/admin/books/{{book.slug}}/deadlines/" method="POST">
    <label for="deadline_starts_on">Starts</label>
    <input id="deadline_starts_on" name="starts_on" type="text">
    <label for="deadline_ends_on">Ends</label>
    <input id="deadline_ends_on" name="ends_on" type="text">
    <label for="deadline_start_page">Start Page</label>
    <input id="deadline_start_page" name="start_page" type="text" size="4">
    <label for="deadline_start_location">Start Location</label>
    <input id="deadline_start_location" name="start_location" type="text" size="6">
    <label for="deadline_page">Page</label>
    <input id="deadline_page" name="page" type="text" size="4">
    <label for="deadline_location">Location</label>
    <input id="deadline_location" name="location" type="text" size="6">
    <input type="submit" value="Save">
</form>
<a href="/admin/books/{{book.slug}}/">{{book}}</a>
{% endblock %}
